In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from scipy.stats import mannwhitneyu

In [ ]:
from mpmath import mp
# Set the desired decimal precision (e.g., 50 decimal places)
mp.dps = 50

In [ ]:
df = pd.read_csv("movie_dataset.csv")

In [ ]:
df_1 = df.iloc[:,0:400]

In [ ]:
print(df_1.columns)

Index(['The Life of David Gale (2003)', 'Wing Commander (1999)',
       'Django Unchained (2012)', 'Alien (1979)',
       'Indiana Jones and the Last Crusade (1989)', 'Snatch (2000)',
       'Rambo: First Blood Part II (1985)', 'Fargo (1996)',
       'Let the Right One In (2008)', 'Black Swan (2010)',
       ...
       'X-Men 2 (2003)', 'The Usual Suspects (1995)', 'The Mask (1994)',
       'Jaws (1975)', 'Harry Potter and the Chamber of Secrets (2002)',
       'Patton (1970)', 'Anaconda (1997)', 'Twister (1996)',
       'MacArthur (1977)', 'Look Who's Talking (1989)'],
      dtype='object', length=400)

Question 5: Do people who are only children enjoy ‘The Lion King(1994)’ more than people with siblings?

In [ ]:
#creating array with column headers that we are concerned about
array = df[['The Lion King (1994)' , 'Are you an only child? (1: Yes; 0: No; -1: Did not respond)']]

#removing nan values from the array with the Lion King Movie and if the child has siblings or not
cleaned_data_5 = array.dropna()

#removing the values with -1, no response
cleaned_data_5 = cleaned_data_5[cleaned_data_5['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] != -1]

#creating new array with children who do NOT have siblings
cd_only_child = cleaned_data_5[cleaned_data_5['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 0]

#create a new array with children who DO have siblings
cd_siblings = cleaned_data_5[cleaned_data_5['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 1]

stats.mannwhitneyu(cd_only_child['The Lion King (1994)'], cd_siblings['The Lion King (1994)'], alternative = 'greater')

Question 6: What proportion of movies exhibit an “only child effect”, i.e. are rated different by viewers with siblings vs. those without?

In [ ]:
only_child = []
siblings = []
significant_count = 0

for movie in df.columns.values[0:400]:
    array_2 = df[[ movie, 'Are you an only child? (1: Yes; 0: No; -1: Did not respond)']].dropna()
    cleaned_array_2 = array_2[array_2['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] != -1]

    only_child = cleaned_array_2[cleaned_array_2['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 1][movie]
    child_w_siblings = cleaned_array_2[cleaned_array_2['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 0][movie]

    if len(only_child) > 0 and len(child_w_siblings) > 0:
        stat, p_value = stats.mannwhitneyu(only_child, child_w_siblings)
        if p_value < 0.005:
            significant_count += 1

total_movies = 400
proportion_effect = significant_count / total_movies if total_movies > 0 else 0
print(f"Proportion of movies with a significant 'only child effect': {proportion_effect:.2f}")

Extra Credit:  Are Star trek fans harsher on rating Star Wars movies (approximated by raters of Star
 Wars episode V (1980) and Star Trek: The Motion Picture (1979))

In [ ]:
# filter for "Star Trek: The Motion Picture (1979)" and "Star Wars: Episode V - The Empire Strikes Back (1980)"

df_filtered = df[["Star Trek: The Motion Picture (1979)","Star Wars: Episode V - The Empire Strikes Back (1980)"]]

# rated_star_trek flag
df_filtered['rated_star_trek'] = np.where(df['Star Trek: The Motion Picture (1979)'].isna(), 0, 1)

# rated star trek and rated star wars episode -  5

df_both = df_filtered[df_filtered['rated_star_trek'] == 1][['Star Wars: Episode V - The Empire Strikes Back (1980)']].dropna()
df_star_wars = df_filtered[df_filtered['rated_star_trek'] == 0][['Star Wars: Episode V - The Empire Strikes Back (1980)']].dropna()

In [ ]:
rated_both_movies = wrangle_movie_ratings(df_both)
rated_star_wars = wrangle_movie_ratings(df_star_wars)

In [ ]:
# not seen star trek > have seen star trek

stat , p_value = mannwhitneyu(rated_star_wars, rated_both_movies, alternative='greater')

In [ ]:
print(p_value)